/* || GENERAL STYLES */

ul {
  list-style: none;
}

li {
  display:inline-block;
  padding: 0 0.75rem;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

/* ------------|| UTILITIES -------------------- */

.hidden {
  display: none;
}

.open {
  height: 100vh;
}

.nav-toggle {
display: none;

}

.navIcon {
  width: 1.75rem;
}

/* ------------|| SITEWIDE --------------------*/

html {font-size: 16px;
}


header {grid-area: header;}
main {grid-area: main;}
footer {grid-area: footer;}


body {
width:100%;
margin: 0;
font-size: 0.9375rem;
font-family: 'Josefin Sans', sans-serif;
font-weight: 100;
min-height: 100vh;
color: white;
display: grid;
grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-rows: minmax(100px, 600px) 1fr 10em;

}

/* ------------||HEADER ---------------------*/

header {
  display:grid;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 1fr 1fr;
}

.header-container {
  display: flex;
  margin: 0 10em 0 10em;
  grid-column: 1/4;
  padding-top: 5rem;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero-header {
  grid-column:1/2;
  height: 500px;

}

.hero-header h1 {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 0.5em;
    font-weight:100;
    font-size: 4.5rem;
}

.hero-header-space {
letter-spacing: 0.25rem;
}

.logo {
  width: 13rem;
}
/* ------------|| MAIN  ---------------------*/

.creations {
  background-color: green;
}

.creations-container {
  background-color: blue;
}


/* ------------||FOOTER ---------------------*/

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.bottom-container {
  background-color: black;
}

footer{
  background-color: pink;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.footer a {
  font-family: 'Alata', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

/* ---- desktop layout---- */
@media screen and (min-width:1024px){
/*
  .hero-header {
    width: 700px;
    height: 500px;
    padding: 8rem 10rem 0 10rem;

  } */

}

@media screen and (min-width: 750px){


  .header-container {
    justify-content: space-between;
    align-items: center;
    grid-row: 1;

  }

  .hero-header {
    width: 700px;
    height: 500px;
    padding: 8rem 10rem 0 10rem;
    grid-row:2;

  }


  .hero-image-desktop {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-row: 1/4;
    grid-column: 1/4;
    z-index: -1;

  }

  .main {
    display:grid;
    background-color: blue;
    margin: 0 10em 0 10em;
  }

    /* background-image: url('/images/desktop/image-hero.jpg'); */
  }

/* --------- Mobile layout ---------- */

  @media screen and (max-width: 750px) {


    header {
      display:grid;
      grid-template-rows: 3rem 1fr;
      grid-template-columns: auto;
    }

    .header-container {
    flex-direction: column;
    margin: 0;
    grid-column: 1/2;
    padding: 3rem 2rem 0 2rem;
    align-items: flex-start;
    }



    .header-buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }


    .hero-image-desktop {
      object-fit: cover;
      width: 100%;
      height: 100%;
      overflow: hidden;
      grid-row: 1/4;
      grid-column: 1/2;
      z-index: -1;

    }

    .hero-header {
    grid-column: 1/2;
    padding: 5rem 2rem 0 2rem;
    width: 100;
    height: 500px;
    justify-self: center;
}


    .hero-header h1 {
      font-size: 2.5rem;
      padding: 1.5rem;
      margin:0;
      padding: 1.5rem;
    }


    .logo {
      width: 50%;
    }

    nav {
    height: 0;
    overflow: hidden;
    width: 100%;
    transition: 250ms height ease-in-out;
    }

    .nav-toggle {
      display: block;
    }

    li {
    display:block;
    text-align: center;
    padding: 1.5rem 0;
  }

  li a {
    font-size: 1.4rem;
  }



}
