

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
width:100%;
margin: 0;
font-size: 0.9375rem;
font-family: 'Josefin Sans', sans-serif;
font-weight: 300;
min-height: 100vh;
color: white;
display: grid;
grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-rows: auto 1fr 10em;
}




.creations {
  background-color: green;
}

.creations-container {
  background-color: blue;
}


.bottom-container {
  background-color: black;
}


footer{
  background-color: pink;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.footer a {
  font-family: 'Alata', sans-serif;
  font-size: 1em;
  font-weight: 400;
}



header {
  display:grid;
  grid-template-rows: 1fr 1fr;


}

.hero-header {

grid-column: 1;
grid-row:2;
border-style: solid;
border-color: white;
padding-left:




}

.hero-header h1{
  border-style: solid;
  border-color: white;
  font-size: 4rem;
  text-align: left;
  width: 600px;
  height: 280px;



}

.hero-image {
  width: 100%;
  overflow: hidden;
  grid-column:1/3;
  grid-row:1/3;


}

.main {
  background-color: blue;

}

.nav-items {
  display:grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column: 2/3;
  grid-row: 1;

}

.top-container {
  display:grid;
  grid-template-columns: auto auto;
  background-color: yellow;

  /* background-image: url('/images/desktop/image-hero.jpg'); */
}

.top-container a {
  font-family: 'Alata', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

header {grid-area: header;}
main {grid-area: main;}
footer {grid-area: footer;}
